@media (max-width: 768px) {
  #home .things-i-do {
    margin: 0 1rem 8rem;
    padding: 0;

    h2 {
      margin-bottom: 2rem;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;

      & > div .desc {
        text-align: left;
        margin-left: 0.5rem;
      }
    }
  }
}
