@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#content {
  padding-top: 4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--body-background-color);
}

.light-mode {
  --body-background-color: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 12%);
  --text-color-grayed: hsl(0, 0%, 40%);
  --primary-color: hsl(216, 100%, 68%);
  --hover-color: hsl(224, 100%, 57%);
}

.dark-mode {
  --body-background-color: hsl(240, 25%, 3%);
  --text-color: hsl(0, 0%, 98%);
  --text-color-grayed: hsl(0, 0%, 60%);
  --primary-color: hsl(216, 100%, 78%);
  --hover-color: hsl(224, 100%, 80%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

#content section:not(:first-child) {
  color: var(--text-color);
  text-align: center;
  margin-top: 3rem;
}

.top-bar {
  width: 100%;
  height: 4rem;
  padding: 0 8rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}
.top-bar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
}
.top-bar .toggle-theme-container svg {
  fill: var(--text-color);
}
.top-bar .toggle-theme-container .toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}
.top-bar .toggle-theme-container .toggle input {
  display: none;
}
.top-bar .toggle-theme-container .toggle input:checked + .slider:before {
  transform: translateX(24px);
}
.top-bar .toggle-theme-container .toggle input:checked + .slider.light:before {
  transform: translateX(24px);
}
.top-bar .toggle-theme-container .toggle input:checked + .slider {
  background-color: var(--primary-color);
}
.top-bar .toggle-theme-container .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
}
.top-bar .toggle-theme-container .toggle .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.top-bar .toggle-theme-container .toggle .slider.light::before {
  left: 2px;
}

.navbar {
  left: 50%;
  right: 50%;
  height: 4rem;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.navbar ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color-grayed);
  font-family: inherit;
  font-size: 1rem;
}
.navbar ul li button > p {
  transition: color 0.3s ease-in-out;
}
.navbar ul li button.active {
  color: var(--primary-color);
}
.navbar ul li button.active svg {
  fill: var(--primary-color);
}
.navbar ul li button svg {
  display: none;
  fill: var(--text-color-grayed);
}
.navbar ul li button:hover:not(.active) {
  color: var(--text-color);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for tablets go here */
  .top-bar {
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .top-bar {
    padding: 0 1rem;
  }
  .navbar {
    top: auto;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 2.5rem 2rem;
    border-top: 1px solid var(--text-color-grayed);
    border-radius: 1rem 1rem 0 0;
    background-color: var(--body-background-color);
  }
  .navbar ul li button svg {
    display: inline-block;
  }
}
#home .hero {
  height: 35rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
}
#home .hero .left {
  width: 50%;
  margin: 3rem 3rem 3rem 8rem;
}
#home .hero .left .big-hero-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 200;
  line-height: 130%;
  max-width: 20ch;
  display: flex;
  flex-direction: column;
}
#home .hero .left .big-hero-text .colored {
  color: var(--primary-color);
  font-weight: 400;
}
#home .hero .left .description {
  margin-bottom: 3rem;
  line-height: 180%;
  letter-spacing: 1%;
  font-weight: 300;
}
#home .hero .left .button-container {
  display: flex;
  gap: 0.5rem;
}
#home .hero .left .button-container .primary {
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color: var(--body-background-color);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#home .hero .left .button-container .primary:hover {
  background-color: var(--hover-color);
}
#home .hero .left .button-container .secondary {
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: var(--body-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color, background-color 0.2s ease-in-out;
}
#home .hero .left .button-container .secondary:hover {
  background-color: var(--primary-color);
  color: var(--body-background-color);
}
#home .hero .right {
  width: 50%;
  margin: 3rem 8rem 3rem 3rem;
}
#home .hero .right .moving-eye {
  display: grid;
  place-items: center;
}
#home .hero .right .moving-eye .moving-eye-container {
  position: relative;
}
#home .hero .right .moving-eye #anchor {
  width: 25rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#home .hero .right .moving-eye #eye {
  margin-top: 2rem;
  width: 10rem;
  height: auto;
  left: 120px;
  position: absolute;
}

@media (max-width: 768px) {
  #home .hero .left {
    margin: 1rem;
    width: 100%;
    align-items: flex-start;
  }
  #home .hero .left .big-hero-text {
    max-width: none;
  }
  #home .hero .left .button-container .primary,
  #home .hero .left .button-container .secondary {
    font-size: 1rem;
  }
  #home .hero .right {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */