@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--body-background-color);
}

.light-mode {
  --body-background-color: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 12%);
  --text-color-grayed: hsl(0, 0%, 40%);
  --primary-color: hsl(216, 100%, 68%);
  --primary-inactive: hsl(216, 50%, 68%, 0.5);
  --hover-color: hsl(216, 100%, 80%);
  --grayed-color: hsl(0, 0%, 100%);
  --grayed-color-hover: hsl(0, 0%, 100%);
}

.dark-mode {
  --body-background-color: hsl(240, 25%, 3%);
  --text-color: hsl(0, 0%, 98%);
  --text-color-grayed: hsl(0, 0%, 60%);
  --primary-color: hsl(216, 50%, 68%);
  --primary-inactive: hsl(216, 50%, 68%, 0.5);
  --hover-color: hsl(216, 100%, 80%);
  --grayed-color: hsl(0, 0%, 10%);
  --grayed-color-hover: hsl(0, 0%, 15%);
}

:root {
  --laptop-padding: 0 4rem;
}

.light-mode {
  color: var(--text-color);
}

.dark-mode {
  color: var(--text-color);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.placeholder {
  color: var(--text-color);
  text-align: center;
  margin-top: 8rem;
}

.top-bar {
  width: 100%;
  height: 4rem;
  padding: 0 8rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}
.top-bar .name {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.top-bar .toggle-theme-container svg {
  fill: var(--text-color);
}
.top-bar .toggle-theme-container .toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}
.top-bar .toggle-theme-container .toggle input {
  display: none;
}
.top-bar .toggle-theme-container .toggle input:checked + .slider:before {
  transform: translateX(24px);
}
.top-bar .toggle-theme-container .toggle input:checked + .slider.light:before {
  transform: translateX(24px);
}
.top-bar .toggle-theme-container .toggle input:checked + .slider {
  background-color: var(--primary-color);
}
.top-bar .toggle-theme-container .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
}
.top-bar .toggle-theme-container .toggle .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.top-bar .toggle-theme-container .toggle .slider.light::before {
  left: 2px;
}

.navbar {
  left: 50%;
  right: 50%;
  height: 4rem;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.navbar ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color-grayed);
  font-family: inherit;
  font-size: 1rem;
}
.navbar ul li button > p {
  transition: color 0.3s ease-in-out;
}
.navbar ul li button.active {
  color: var(--primary-color);
}
.navbar ul li button.active svg {
  fill: var(--primary-color);
}
.navbar ul li button svg {
  display: none;
  fill: var(--text-color-grayed);
}
.navbar ul li button:hover:not(.active) {
  color: var(--text-color);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for tablets go here */
  .top-bar {
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .top-bar {
    padding: 0 1rem;
  }
  .navbar {
    top: auto;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 2.5rem 2rem;
    border-top: 1px solid var(--text-color-grayed);
    border-radius: 1rem 1rem 0 0;
    background-color: var(--body-background-color);
  }
  .navbar ul li button svg {
    display: inline-block;
  }
}
#home .hero {
  height: 35rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding: var(--laptop-padding);
  max-width: 1200px;
}
#home .hero .left {
  width: 50%;
}
#home .hero .left .big-hero-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 200;
  line-height: 130%;
  max-width: 20ch;
  display: flex;
  flex-direction: column;
}
#home .hero .left .big-hero-text .colored {
  color: var(--primary-color);
  font-weight: 500;
}
#home .hero .left .description {
  margin-bottom: 3rem;
  line-height: 180%;
  letter-spacing: 1%;
  font-weight: 300;
}
#home .hero .left .button-container {
  display: flex;
  gap: 0.5rem;
}
#home .hero .left .button-container .primary {
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color: var(--body-background-color);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#home .hero .left .button-container .primary:hover {
  background-color: var(--hover-color);
}
#home .hero .left .button-container .secondary {
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: var(--body-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color, background-color 0.2s ease-in-out;
}
#home .hero .left .button-container .secondary:hover {
  background-color: var(--primary-color);
  color: var(--body-background-color);
}
#home .hero .right {
  width: 50%;
}
#home .hero .right .moving-eye {
  display: grid;
  place-items: center;
}
#home .hero .right .moving-eye .moving-eye-container {
  position: relative;
}
#home .hero .right .moving-eye #anchor {
  width: 25rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#home .hero .right .moving-eye #eye {
  margin-top: 2rem;
  width: 10rem;
  height: auto;
  left: 120px;
  position: absolute;
}

#home .things-i-do {
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: var(--laptop-padding);
  max-width: 1200px;
}
#home .things-i-do h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
#home .things-i-do h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 1rem 0;
}
#home .things-i-do .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
#home .things-i-do .container > div {
  background-color: var(--grayed-color);
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#home .things-i-do .container > div.light {
  border: 1px solid hsl(0, 0%, 20%);
}
#home .things-i-do .container > div.light:hover {
  background-color: var(--body-background-color);
}
#home .things-i-do .container > div > lord-icon {
  width: 5rem;
  height: 5rem;
}
#home .things-i-do .container > div .desc {
  line-height: 2;
}
#home .things-i-do .container > div .title {
  font-size: 1.3rem;
  margin: 1.5rem 0 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

#home .how-i-work {
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: var(--laptop-padding);
  max-width: 1200px;
}
#home .how-i-work h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
#home .how-i-work h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 1rem 0;
}
#home .how-i-work .container {
  display: flex;
}
#home .how-i-work .container .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
#home .how-i-work .container .left .work-button {
  background-color: var(--primary-inactive);
  font-size: 1.1rem;
  font-family: inherit;
  border: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#home .how-i-work .container .left .work-button.current {
  background-color: var(--primary-color);
}
#home .how-i-work .container .left .work-button:hover:not(.current) {
  background-color: var(--hover-color);
}
#home .how-i-work .container .right {
  width: 70%;
}
#home .how-i-work .container .right p:first-child {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  #home .hero {
    margin: 3rem 1rem;
    padding: 0;
    width: auto;
  }
  #home .hero .left {
    width: 100%;
    align-items: flex-start;
  }
  #home .hero .left .big-hero-text {
    max-width: 13ch;
    font-size: 2.5rem;
    display: inline-block;
  }
  #home .hero .left .description {
    font-size: 1rem;
  }
  #home .hero .left .button-container .primary,
  #home .hero .left .button-container .secondary {
    font-size: 1rem;
  }
  #home .hero .right {
    display: none;
  }
}
@media (max-width: 768px) {
  #home .things-i-do {
    margin: 0 1rem 8rem;
    padding: 0;
  }
  #home .things-i-do h2 {
    margin-bottom: 2rem;
  }
  #home .things-i-do .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  #home .things-i-do .container > div .desc {
    text-align: left;
    margin-left: 0.5rem;
  }
}
@media (max-width: 768px) {
  #home .how-i-work {
    margin: 0 1rem 8rem;
    padding: 0;
    width: calc(100% - 2rem);
  }
  #home .how-i-work h2 {
    margin-bottom: 1.5rem;
  }
  #home .how-i-work .container {
    flex-direction: column;
  }
  #home .how-i-work .container .left {
    width: 100%;
    padding: 0;
  }
  #home .how-i-work .container .left .work-button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  #home .how-i-work .container .right {
    width: 100%;
  }
  #home .how-i-work .container .right p:first-child {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */