.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 16px hsla(0, 0%, 60%, 0.2);
  background-color: var(--body-background-color);
  border-radius: 1rem 1rem 0 0;

  .name {
    display: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    li {
      width: calc(100% / 3);

      &.active a * {
        fill: var(--primary-color);
        color: var(--primary-color);
        font-weight: 500;
      }

      &:hover:not(.active) a * {
        color: var(--text-color);
        opacity: 1;
      }

      a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        text-decoration: none;

        & * {
          transition: all 0.3s ease-in-out;
        }

        .nav-icon {
          height: 1.5rem;
          margin-bottom: 0.25rem;
          opacity: 0.8;
          fill: var(--text-color);
        }

        span {
          color: var(--text-color-grayed);
        }
      }
    }
  }
}

.dark-mode .navbar {
  box-shadow: none;
  border-top: 1px solid var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .navbar {
    bottom: auto;
    padding: 0 8rem;
    top: 0;
    border-radius: 0 0 0 0;
    display: flex;
    align-items: center;
    height: 4rem;
    display: flex;
    justify-content: space-between;

    .name {
      display: inline-block;
      color: var(--text-color);
      font-size: 1.2rem;
      letter-spacing: 2%;
    }

    .nav-right {
      display: flex;
      align-items: center;

      .dark-mode-toggle {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        svg {
          fill: var(--text-color);
        }
      }
    }

    ul {
      margin-right: 2.5rem;

      li {
        padding: 0 1rem;

        .nav-icon {
          display: none;
        }
        a {
          line-height: 1;
        }
      }
    }
  }

  .dark-mode .navbar {
    border-top: none;
    border-bottom: none;
  }

  main {
    padding-top: 5rem;
  }
}

.light-mode {
  .dark-icon {
    display: none;
  }
  .light-icon {
    display: inline-block;
  }
}

.dark-mode {
  .dark-icon {
    display: inline-block;
  }
  .light-icon {
    display: none;
  }
}

// For the toggle switch
.toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

/* Hide the checkbox input */
.toggle input {
  display: none;
}

/* Describe slider's look and position. */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
}

/* Describe the white ball's location 
and appearance in the slider. */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Modify the slider's background color to 
green once the checkbox has been selected. */
input:checked + .slider {
  background-color: var(--primary-color);
}

/* When the checkbox is checked, shift the 
white ball towards the right within the slider. */
input:checked + .slider:before {
  transform: translateX(24px);
}
