.navbar {
  width: 100%;
  height: 4rem;
  padding: 0 8rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-background-color);

  a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    li button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      color: var(--text-color-grayed);
      transition: color 0.2s ease-in-out;
      font-family: inherit;
      font-size: 1rem;

      &.active {
        color: var(--primary-color);
      }

      &:hover:not(.active) {
        color: var(--text-color);
      }
    }
  }
}
