@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding: 5rem;

    .pic img {
      width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
    }
  }

  .what-i-do {
    padding: 5rem;
  }
}
