@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap");
/* Resets */
/* ======================================= */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
/* ======================================= */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: #ebebeb;
  font-family: "Noto Sans JP", sans-serif;
}

abbr {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* Header styles */
/* ======================================= */
header {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
}
header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  height: 100vw;
  background: radial-gradient(circle, #2f3cad, #181f5a, #060816, #000000);
  filter: blur(20px);
  z-index: -1;
}
header .japanese {
  margin-bottom: 1.5rem;
}
header h1 {
  letter-spacing: 1px;
  font-size: 3.5rem;
  margin: 0 0 1rem;
  font-weight: 700;
}
header .subheading {
  font-size: 1rem;
  letter-spacing: 1.5px;
}
header .subheading strong {
  font-weight: 400;
}
header a {
  color: #111;
  text-decoration: none;
  background-color: #77adff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
header a:hover {
  background-color: #8c9db3;
}

/* About Me styles */
.about-me {
  padding: 5rem 10rem;
  display: flex;
  background-color: #0a0a0a;
}
.about-me .pic img {
  border-radius: 2rem;
}
.about-me .desc {
  margin-left: 2rem;
}
.about-me .desc h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-me .desc .intro {
  margin-bottom: 1rem;
}
.about-me .desc .intro strong {
  color: #77adff;
}
.about-me .desc .biography {
  line-height: 1.8;
  margin-bottom: 2rem;
}
.about-me .desc .details {
  margin-bottom: 1rem;
}
.about-me .desc .label {
  font-weight: bold;
  color: #77adff;
}

/* Quote styles */
/* ======================================= */
.favorite-quote {
  padding: 5rem 0;
  background-color: #1a1a1a;
  display: grid;
  place-items: center;
}
.favorite-quote .container {
  text-align: center;
}
.favorite-quote .container .quote {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* What I Do styles */
/* ======================================= */
.what-i-do {
  padding: 5rem 10rem;
}
.what-i-do h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.what-i-do .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.what-i-do .container > div {
  background-color: #222;
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
}
.what-i-do .container > div .desc {
  line-height: 2;
}
.what-i-do .container > div .title {
  font-size: 1.3rem;
  margin: 1.5rem 0 1rem;
  font-weight: bold;
  color: #77adff;
}

/* What I Do styles */
/* ======================================= */
.moving-eye {
  margin: 5rem 0;
}

/* footer styles */
/* ======================================= */
footer {
  margin-top: 8rem;
  padding: 2rem 0;
  background-color: #000;
  text-align: center;
}
footer p {
  margin-bottom: 2rem;
}
footer .container > a {
  margin: 0 1rem;
}
footer .container > a img {
  border-radius: 4px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
footer .container > a img:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 2.5rem;
    margin: 0 0 0.5rem;
  }
  header p {
    font-size: 1rem;
    text-align: center;
    max-width: 20ch;
    margin: 0 auto 4rem;
  }
  .about-me {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .about-me .pic img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  .about-me .desc {
    margin-left: 0;
  }
  .about-me .desc .biography {
    margin-bottom: 2rem;
  }
  .favorite-quote {
    padding: 5rem 2rem;
    background-color: #1a1a1a;
    display: grid;
    place-items: center;
  }
  .what-i-do {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .what-i-do h2 {
    font-size: 2rem;
    margin: 3rem 0 2rem;
    text-align: left;
  }
  .what-i-do .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .what-i-do .container > div .desc {
    text-align: left;
    margin-left: 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding: 5rem;
  }
  .about-me .pic img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  .what-i-do {
    padding: 5rem;
  }
}
.moving-eye {
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}
.moving-eye .moving-eye-container {
  position: relative;
}
.moving-eye #anchor {
  width: 12rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.moving-eye #eye {
  width: 5rem;
  position: absolute;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.show {
  animation: slideIn 0.5s ease-in-out forwards;
  visibility: visible;
}

@keyframes slideIn {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  25% {
    transform: translatey(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */