*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Global Styles */
/* ======================================= */
:root {
  --primary-color: #9daec8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #ebebeb;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
}

abbr {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* Header styles */
/* ======================================= */
header {
  padding: 15rem 0;
  text-align: center;
}

header h1 {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0 0 1rem;
}

header p {
  font-size: 1rem;
  margin-bottom: 3rem;
}

header a {
  color: #111;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

header a:hover {
  background-color: #8c9db3;
}

/* About Me styles */
.about-me {
  padding: 5rem 10rem;
  display: flex;
}

.about-me .pic img {
  border-radius: 2rem;
}

.about-me .desc {
  margin-left: 2rem;
}

.about-me .desc h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-me .desc .intro {
  margin-bottom: 1rem;
}

.about-me .desc .intro strong {
  color: var(--primary-color);
}

.about-me .desc .biography {
  margin-bottom: 3rem;
}

.about-me .desc .details {
  margin-bottom: 0.5rem;
}

.about-me .desc .label {
  font-weight: bold;
  color: var(--primary-color);
}

/* Quote styles */
/* ======================================= */
.favorite-quote {
  padding: 5rem 0;
  background-color: #1a1a1a;
  display: grid;
  place-items: center;
}

.favorite-quote .container {
  text-align: center;
}

.favorite-quote .container .quote {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* What I Do styles */
/* ======================================= */
.what-i-do {
  padding: 5rem 10rem;
}

.what-i-do h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.what-i-do .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.what-i-do .container > div {
  background-color: #222;
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
}

.what-i-do .container > div .title {
  font-size: 1.3rem;
  margin: 1.5rem 0 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

/* footer styles */
/* ======================================= */
footer {
  padding: 2rem 0;
  background-color: #000;
  text-align: center;
}

footer p {
  margin-bottom: 2rem;
}

footer .container > a {
  margin: 0 1rem;
}

footer .container > a img {
  border-radius: 4px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

footer .container > a img:hover {
  opacity: 1;
}
