.about-me {
  padding: 5rem 10rem;
  display: flex;
  background-color: $background-color;

  .pic img {
    border-radius: 2rem;
  }

  .desc {
    margin-left: 2rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .intro {
      margin-bottom: 1rem;

      strong {
        color: $primary-color;
      }
    }

    .biography {
      line-height: 1.8;
      margin-bottom: 2rem;
    }

    .details {
      margin-bottom: 1rem;
    }

    .label {
      font-weight: bold;
      color: $primary-color;
    }
  }
}
