header {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%;
    height: 100vw;
    background: radial-gradient(circle, #2f3cad, #181f5a, #060816, #000000);
    filter: blur(20px);
    z-index: -1;
  }

  div {
    display: inline-block;
    width: auto;
    margin-bottom: 1rem;
    .japanese {
      display: inline-block;
      margin-bottom: 1.5rem;
      height: 1rem;
    }
    .underline {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-top: -0.5rem;
      animation: underlineExpand 3s ease-in-out infinite;
    }
  }

  @keyframes underlineExpand {
    0%,
    100% {
      transform: scaleX(0.8);
      transform-origin: 50% 100%;
    }
    25%,
    75%,
    50% {
      transform: scaleX(1);
      transform-origin: 50% 100%;
    }
  }

  .element-to-animate {
    display: inline-block;
    border-bottom: 1px solid #000;
    transition: border-bottom-width 0.3s ease;
    animation: underlineExpand 1s ease-in-out;
  }

  h1 {
    letter-spacing: 1px;
    font-size: 3.5rem;
    margin: 0 0 1rem;
    font-weight: 700;
  }

  .subheading {
    font-size: 1rem;
    letter-spacing: 1.5px;

    strong {
      font-weight: 400;
    }
  }

  a {
    color: #111;
    text-decoration: none;
    background-color: $primary-color;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #8c9db3;
    }
  }
}
