.moving-eye {
  display: grid;
  place-items: center;
  padding: 5rem 0 10rem;
  margin-bottom: 0;
  background-color: $background-color;

  .moving-eye-container {
    position: relative;
  }

  #anchor {
    width: 12rem;
    height: auto;
    object-fit: contain;
  }

  #eye {
    width: 5rem;
    position: absolute;
  }
}
