#home .how-i-work {
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: var(--laptop-padding);
  max-width: 1200px;

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;

    &::after {
      content: "";
      display: block;
      width: 5rem;
      height: 0.2rem;
      background-color: var(--primary-color);
      margin: 1rem 0;
    }
  }

  .container {
    display: flex;

    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;

      .work-button {
        background-color: var(--primary-inactive);
        font-size: 1.1rem;
        font-family: inherit;
        border: none;
        padding: 1rem 0;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &.current {
          background-color: var(--primary-color);
        }

        &:hover:not(.current) {
          background-color: var(--hover-color);
        }
      }
    }

    .right {
      width: 70%;

      & p:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}
