#home .things-i-do {
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: var(--laptop-padding);
  width: clamp(none, 100vw, var(--laptop-content-width));

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;

    &::after {
      content: "";
      display: block;
      width: 5rem;
      height: 0.2rem;
      background-color: var(--primary-color);
      margin: 1rem 0;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    > div {
      background-color: var(--grayed-color);
      border-radius: 1.5rem;
      padding: 2rem 2rem;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--grayed-color-hover);
      }

      > lord-icon {
        width: 5rem;
        height: 5rem;
      }

      .desc {
        line-height: 2;
      }

      .title {
        font-size: 1.3rem;
        margin: 1.5rem 0 1rem;
        font-weight: bold;
        color: var(--primary-color);
      }
    }
  }
}
